@{
    ViewData["Title"] = "Главная";
}

<h1>Добро пожаловать!</h1>

<p>
    <a asp-controller="Data" asp-action="ViewData">Просмотреть таблицы</a>
</p>
<p>
    <a asp-controller="Data" asp-action="CreateEntity">Добавить новые строки</a>
</p>
<p>
    <a asp-controller="Data" asp-action="UpdateEntity">Обновить данные</a>
</p>
